.container {
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 15px;
  padding: 9px 10px;
  box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: 0.25);
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-weight: 500px;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 3px;
    }
    .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .counter {
    width: 50px;
    margin-left: 60px;
    margin-right: 14px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    span {
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;
    }
    .btns {
      display: flex;
      flex-direction: column;
      gap: 3px;
      img {
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .price {
    width: 40px;
    margin: 0 38px 0 30px;
  }
  .trash {
    cursor: pointer;
    margin-right: 13px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
