button {
  align-items: center;
  background-color: transparent;
  outline: none;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid #e9ecef;
  SVG {
    fill: #0a58ca;
  }
}

.current {
  background-color: #0d6efd;
  padding: 8px;
  color: #fff;
}
.noCurrent {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #94bcf8;
    padding: 8px;
    color: #fff;
  }
}
