.inputBox {
  position: relative;
  width: 100%;
  label {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #5c5c5c;
    margin-bottom: 4px;
  }
  .input {
    width: 100%;
    padding: 12px 15px;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19px;
    height: 42px;
    color: #252c32;
    border: 1px solid #e7eaec;
    transition: all 0.25s ease-in-out;
    // &.disabled {
    //   background: #f5f5f5;
    //   opacity: 0.6;
    //   pointer-events: none;
    // }
    // &.withStartAdornment {
    //   padding-left: 50px;
    // }
    // &.withEndAdornment {
    //   padding-right: 50px;
    // }
    // &:focus {
    //   outline: none;
    //   border-color: #0263ca !important;
    // }
    // &:hover {
    //   border-color: #0263ca !important;
    // }
    &::placeholder {
      font-size: 15px;
      line-height: 24px;
      color: #6e7c87;
    }
    &.large {
      height: 48px;
    }
    &.medium {
      height: 42px;
      font-size: 15px;
      line-height: 19px;
    }
    &.small {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .error {
    border-color: red !important;

    &:focus {
      outline: none;
      border-color: red !important;
    }
  }
  span {
    font-size: 12px;
    line-height: 16px;
    color: red;
    margin-top: 4px;
  }

  .startAdornment {
    position: absolute;
    left: 16px;
    height: 20px;
    top: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .inputBox {
    .input {
      padding: 10px 15px;
      color: #6e7c87;
    }
  }
}
