@import url("../../public/fonts/fonts");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #739aff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #1e1e1e;
}
