.container {
  display: flex;
  gap: 55px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
  width: 1133px;
  padding: 50px 37px;
  .carts {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      align-items: center;
      .headerTitle {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        color: #1e1e1e;
      }
    }
    .line {
      margin: 23px 15px;
      width: 100%;
      height: 1.5px;
      background-color: #d0cfcf;
    }
    .cartInfo {
      padding: 0 15px;
      .cartTitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #1e1e1e;
      }
      .cartText {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      margin-top: 29px;
      gap: 24px;
    }
  }

  .details {
    padding: 19px;
    width: 388px;
    background-color: #565abb;
    border-radius: 20px;
  }
}
