table {
  padding: 16px;
  text-align: left;
  border-radius: 16px;
  border: 1px solid #ccc;
  width: 500px;
  overflow: auto;

  thead {
    th {
      padding: 8px;
    }
  }
  tbody {
    td {
      padding: 5px 8px;
    }
  }
}
