.container {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #fff;
    }
  }
  .cardTypes {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    .typeText {
      font-weight: 500;
      line-height: 22px;
      color: #fff;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        cursor: pointer;
        &:hover {
          box-shadow: 0 1px 4px 1px rgba($color: #000000, $alpha: 0.25);
        }
      }
      .seeAll {
        border-radius: 5px;
        cursor: pointer;
        padding: 17px 9px 19px 10px;
        background-color: #d9d9d933;
        &:hover {
          box-shadow: 0 1px 4px 1px rgba($color: #000000, $alpha: 0.25);
        }
        .seeAllText {
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          line-height: 19px;
        }
      }
    }
  }
  .forms {
    margin-top: 13px;
    .label {
      margin-top: 14px;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
    }
    input {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
      color: #fff;
      border: none;
      background-color: #6268c6;
      border-radius: 6px;
      outline: none;
      width: 100%;
      height: 42px;
      padding: 11px 18px;

      &:hover,
      &:focus-visible,
      &:active {
        transition: border 0.25s linear;
        border: 1px solid #fff;
      }

      &::placeholder {
        color: #c4c4c4;
      }
    }
    .extraInfo {
      display: flex;
      gap: 14px;
      .date {
        display: flex;
        flex-direction: column;
      }
    }
    .line {
      margin: 23px 0 15px;
      width: 100%;
      height: 1px;
      background: #5f65c3;
    }
    .cardCostInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        list-style: none;
        li {
          font-weight: 500;
          color: #fff;
          font-size: 14px;
          line-height: 27px;
        }
      }
      ul:nth-child(2) {
        list-style: none;
        li {
          text-align: end;
          font-weight: 500;
          color: #fff;
          font-size: 14px;
          line-height: 27px;
        }
      }
    }
    button {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin-top: 26px;
      padding: 18px 24px;
      border-radius: 12px;
      outline: none;
      border: none;
      width: 100%;
      background-color: #4de1c1;
      font-weight: 500;
      line-height: 24px;
      &:hover {
        background-color: #96ebd9;
      }
      span {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }
  }
}
